.vscode/
__pycache__/
CLAUDE.md
*.pt
*.MOV
*.png
*.jpg
homograpy_restore/data/
homograpy_restore/restored_images/
screw_count/data/
screw_count/augmented/
screw_count/weights/
screw_count/runs/
screw_count/screws.yaml
screw_count/vis/
screw_count/test/
screw_segment/data/
screw_segment/output/
screw_segment/weights/
screw_video/mask_folder/
screw_video/vis_videos/
screw_video/sampled_videos
screw_video/reid_dataset_torchreid/
screw_video/weights/
screw_video/reid_runs