.vscode/
homograpy_restore/data/
homograpy_restore/restored_images/
screw_count/data/
screw_count/images/
screw_count/labels/
screw_count/augmented/
screw_count/weights/
screw_count/runs/
screw_count/screws.yaml